{% extends "base.html" %}
{% block body %}
    <section class="home">
        <div class="intro">
            <h1>Cloud Project</h1>
            <p class="description">
                The objective of this final project is to design and implement a web application using Docker that
                includes a web server, a database, and the ability to display team data on the website. Students will gain
                hands-on experience in containerization, communication between containers using Docker Compose,
                and web development.
            </p>
            <a href="/team">Team Page</a>
        </div>
        <div class="image-container">
            <img src="{{url_for('static', filename = 'imgs/cloud-computing.svg')}}" alt="docker image">
        </div>
    </section>
{% endblock %}