{% extends 'base.html' %}
{% block body %}
<section class="team">
    <h1>Cloudy Members</h1>
    <div class="team-cards">
        {% for member in team %}
        <div class="card">
            <div class="info">
                <p><span>ID:</span> {{ member.id }}</p>
                <p><span>Name:</span> {{ member.name }}</p>
                <p><span>AGE:</span> {{ member.age }}</p>
                <p><span>CGPA:</span> {{ member.CGPA }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="/">Home Page</a>
</section>
{% endblock %}